* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0 auto;
    width: 100vw;
}
nav {
    margin: 15px;
    float: right;
}

header {
    margin: 10px;
}

h1 {
    float: left;
}

main {
    width: 100vw;
    height: 570px;
    clear: both;
}

li {
    display: inline-block;
    margin: 0px 5px;
}

a {
    /* 링크 라인 재거 */
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

section {
    float: left;
    background-color: cornsilk;
    width: 60vw;
    height: 560px;
    margin: 0 auto;
    text-align: center;
}

p {
    text-align: left;
}

img {
    width: 60%;
}

aside {
    width: 20vw;
    height: 560px;
    background-color: lightcoral;
    float: left;
    writing-mode: vertical-lr;
}

.vertical {
    text-align: center;
    padding: 140px 140px;
    color: cornsilk;
}

details {
    float: left;
    margin: 2px;
}
